.App {
  text-align: center;
}

h1{
  color: whitesmoke;
}

p{
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

video{ 
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s ease;
    margin-top: 3em;
  }
}

.viewport-body {
  /*background-color: #282c34;
  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
  height: 100vh;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(360deg);
  }
}

