body {
  margin: 0;
  font-family: 'Star Jedi', arial;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
